# .gitignore file for Xcode iOS projects

# OS X temporary files that should never be committed
.DS_Store
.Trashes
*.swp

# Xcode user settings
xcuserdata/

# Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

# Derived Data and Archives
DerivedData/
*.xcarchive

# CocoaPods dependencies
Pods/

# Swift Package Manager dependencies
.build/
Packages/

# Carthage dependencies
Carthage/Build/

# Fastlane output files
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Optional: Uncomment if you use AppCode or JetBrains IDEs
#.idea/